services:
  redis:
    profiles: [ "default" ]
    image: "redis:8.2.3"
    container_name: "redis"
    command: >
      redis-server 
      --protected-mode no
    ports:
      - "6379:6379"

  redis-ssl:
    profiles: [ "ssl" ]
    image: "redis:8.2.3"
    container_name: "redis-ssl"
    volumes:
      - "../redis/redis-server-certs:/redis-certs"
    command: >
      redis-server
      --tls-port 6379
      --port 0
      --tls-cert-file /redis-certs/tls.crt
      --tls-key-file /redis-certs/tls.key
      --tls-ca-cert-file /redis-certs/ca.crt
      --protected-mode no
    labels:
      - 'org.springframework.boot.sslbundle.pem.keystore.certificate=classpath:redis-client-certs/tls.crt'
      - 'org.springframework.boot.sslbundle.pem.keystore.private-key=classpath:redis-client-certs/tls.key'
      - 'org.springframework.boot.sslbundle.pem.truststore.certificate=classpath:redis-client-certs/ca.crt'
    ports:
      - "6379:6379"
